#games-wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

#random-game-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-box {
  background-size: cover;
  width: 150px;
  height: 150px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid var(--text-color);
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 10%;
  cursor: pointer;
  background-position: center;
  transition-duration: 0.5s;
  font-size: 125%;
}

.game-box.compact {
  margin: 5px;
  width: 100px;
  height: 100px;
  font-size: 100%;
}

.game-box:hover {
  color: var(--accent-color-1);
  border: 1px solid var(--accent-color-1);
  border-radius: 20%;
  margin: -15px;
  margin-left: 15px;
  margin-right: 15px;
  translate: 0 30px;
  width: 160px;
  height: 160px;
  font-size: 130%;
}

.game-box.random-game:hover {
  color: var(--accent-color-1);
  border: 1px solid var(--accent-color-1);
  border-radius: 20%;
  margin: 15px;
  translate: 0 0;
  width: 160px;
  height: 160px;
  font-size: 130%;
}

.game-box.compact:hover {
  margin: 0px;
  width: 110px;
  height: 110px;
  font-size: 105%;
  translate: 0 0px;
}

.game-box span {
  background: var(--bg-transp-color);
  padding-bottom: 5px;
}

.game-box.compact span {
  padding-bottom: 0px;
}

input {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  font-family: Orbitron;
}

.switch-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 250px;
  right: 10px;
}

.left-text {
  margin-right: 10px; /* Adjust as needed */
}

.right-text {
  margin-left: 10px; /* Adjust as needed */
}

.favorite-button {
  cursor: pointer;
}

/* CSS for category container */
.category-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 9999;
}

/* CSS for category content */
.category-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px var(--accent-color-1);
}

/* CSS for exit button */
.exit-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--bg-color);
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
  color: var(--text-color);
}

.category-iframe {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}

.exit-button:hover {
  color: #f00; /* Change color on hover */
}


category {
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid var(--text-color);
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
  cursor: pointer;
  background-position: center;
  transition-duration: 0.5s;
  font-size: 150%;
}

category:hover {
  color: var(--accent-color-1);
}

category span {
  margin-bottom: 5px;
}

#cat-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
