
button {
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid var(--text-color);
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px;
    cursor: pointer;
    background-position: center;
    transition-duration: 0.5s;
    font-size: 150%;
  }
  button:hover {
    color: var(--accent-color-1);
  }
  
  button span {
    margin-bottom: 5px;
  }
  #wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
  }