/* clock.css */

body, html {
    text-align: right;
    height: 100%;
    margin: 0;
}

main-clock {
    color: var(--text-color);
    font-weight: 1000;
    font-size: 300%;
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 5%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

img {
    outline: none;
}